[Desktop Entry]
Name=SolydXK Thunderbird Evolvere Theme
Comment=Switch Thunderbird Evolvere Theme for SolydXK (light/dark icons)
Exec=thunderbird-evolvere-switch
Icon=solydxk
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Email;News;GTK;
StartupNotify=false
